/* Centering */

body, img {
  margin: 0 auto;
  max-width: 50em;
}


/* Spacing */

body {
  line-height: 1.5;
  padding: 4em 1em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}


/* Font family */

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}


/* Color & contrast */

body {
  color: #566b78; /* Secondary color */
}

h1,
h2,
strong {
  color: #333;
}

a {
  color: #e81c4f; /* Primary color */
}
